<!DOCTYPE html>
<html lang="zh"><!--中文網站-->
<head>
    <meta charset="utf-8">
    <title>CGUIoTWeb</title>
	<!--<link href="css/CreateDevice.css" type="text/css" rel="stylesheet" />-->
	<!--for AJAX-->
	<!--<script src="js/main.js"></script>-->
    <script src="js/ejs_production.js"></script>
    <script src="js/script.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script><!--chart.js CND-->
</head>
<body onload=entryload()>
    
<!--<body>-->
<div id="StudyRoom">
    <div id="DeviceTable">

        <div id="SmarkSocket">
            <p>智慧插座</p>
            <%- include('smartsocket'); %><!--智慧插座-->
        </div>
        <hr>
        <div id="IndoorPerson">
            <p>進入/離開人數監控</p>
            <%- include('numberperson'); %><!--室內人數-->
        </div>
        <hr>
        <div id="Environment">
            <p>環境監控</p>
            <%- include('environment'); %><!--環境監控-->
        </div>
        <hr>
        <div id="light">
            <p>智慧插座(電燈)</p>
            <%- include('light'); %><!--燈具-->
        </div>
    </div>

    <div id="DrawTable">
        <div id="DrawChart">
            <%- include('drawchart'); %>
        </div>
    </div>
</div>


</body>
</html>
